html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: rgb(228, 225, 225);
  /* background-image: url('https://cdn.pixabay.com/photo/2015/05/05/09/42/paper-753508_960_720.jpg'); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  color: #2a2a2a;
  line-height: 1.5;
  padding: 10px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.Navlink {
  padding: 10px;
  border-radius: 10px;
  color: black;
}

.Navlink:not(:last-child) {
  margin-right: 15px;
}

.Navlink--active {
  background-color: orange;
  color: #fff;
}

.Homepage-title {
  text-align: center;
}

.input {
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-right: 25px;
}

.btn {
  min-width: 80px;
  padding: 5px;
  border: 2px solid rgb(224, 99, 15);
  border-radius: 5px;
  background-color: orange;
}

.add-info-block {
  display: flex;
}

.add-info {
  text-align: center;
  font-size: 18px;
  padding: 7px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: orange;
}

.add-info-block > li:not(:last-child) {
  margin-right: 15px;
}
